Repository hmcts/fis-bulk-scan-api, pull requests merged in 2022-04, with the labels that each got.

#16 Updated code for Bulk Scan Validation Service
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/endpoints/BulkScanEndpoint.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/BulkScanValidationMandatoryFields.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanValidationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanValidationServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-16

#19 feat: implement branching logic based on case type (ISDB-139)
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/endpoints/BulkScanEndpoint.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/BulkScanTransformationRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/BulkScanValidationRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/BulkScanValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/CaseType.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/FormType.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL403Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL403ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-19

#22 Merge to master
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/BulkScanFormValidationConfigManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/endpoints/BulkScanEndpoint.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/factory/BulkScanServiceFactory.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/helper/BulkScanValidationHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/BulkScanValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/Errors.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/Warnings.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL403Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/utils/BulkScanValidationUtil.java
  src/main/resources/application-c100-form.yaml
  src/main/resources/application-fl401-form.yaml
  src/main/resources/application-fl403-form.yaml
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/demo/smoketests/SmokeTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL403ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataUtil.java
  src/test/resources/application-test-form.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-22

#25 Feature/isdb 130
  src/main/resources/application-c100-form.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-25

#28 Slight change as Gender is not Mandatory
  src/main/resources/application-c100-form.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-28

#27 feat: implement FL403 validation(ISDB-47)
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/resources/application-test-C100-form.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/TestResourceUtil.java
  src/integrationTest/resources/bulk-scan-fl403_validation_response.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/BulkScanFormValidationConfigManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/helper/BulkScanValidationHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/Errors.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/utils/BulkScanValidationUtil.java
  src/main/resources/application-c100-form.yaml
  src/main/resources/application-fl401-form.yaml
  src/main/resources/application-fl403-form.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL403ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataUtil.java
  src/test/resources/application-test-C100-form.yaml
  src/test/resources/application-test-FL401-form.yaml
  src/test/resources/application-test-FL403-form.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-27

#32 ISDB-50
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/helper/BulkScanValidationHelper.java
  src/main/resources/application-c100-form.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/helper/BulkValidationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL403ServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-32

#33 Missing field validation
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataUtil.java
  src/integrationTest/resources/bulk-scan-fl403_validation_response.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/helper/BulkScanValidationHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL403ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataUtil.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-33

#41 API Validation for applicants details (Name, Address & telephone numb…
  src/main/resources/application-fl401-form.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-41
