Repository hmcts/fis-bulk-scan-api, pull requests merged in 2022-05, with the labels that each got.

#34 Feature/isdb 77
  src/main/java/uk/gov/hmcts/reform/bulkscan/helper/BulkScanValidationHelper.java
  src/main/resources/application-c100-form.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataUtil.java
  src/test/resources/application-test-C100-form.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-34

#44 feat: implement validations for forms A60, C51 and C63(ISDB-147)
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/integrationTest/resources/request/bulk-scan-a60-validation-input.json
  src/integrationTest/resources/request/bulk-scan-c51-validation-input.json
  src/integrationTest/resources/request/bulk-scan-c63-validation-input.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/FormType.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA60Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC51Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC63Service.java
  src/main/resources/application-a60-form.yaml
  src/main/resources/application-c51-form.yaml
  src/main/resources/application-c63-form.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA60ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC51ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC63ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataUtil.java
  src/test/resources/application-test-A60-form.yaml
  src/test/resources/application-test-C51-form.yaml
  src/test/resources/application-test-C63-form.yaml
  src/test/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-44

#46 Feature/isdb 166 tranform framework
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/BulkScanTransformConfigManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/helper/BulkScanTransformHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/BulkScanTransformationResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/CaseCreationDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/resources/application-c100-transform.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/resources/application-test-C100-transform.yaml
  src/test/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-46

#45 Feature/isdb 156
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-45

#53 post code lookup api changes
  build.gradle
  charts/fis-bulk-scan-api/Chart.yaml
  charts/fis-bulk-scan-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/HttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/PostcodeLookupConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/endpoints/BulkScanEndpoint.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/exception/PostCodeValidationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/postcode/AddressDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/postcode/PostCodeResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/postcode/PostCodeResult.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/postcode/PostcodeLookupService.java
  src/main/resources/application-fgm001-form.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/postcode/PostcodeLookupServiceTest.java
  src/test/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-53

#55 Feature/isdb 195
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/GetWelcomeTest.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-55

#54 feat: integrate postCode lookup function to validation framework (ISD…
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/BulkScanFormValidationConfigManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/helper/BulkScanValidationHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA60Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC51Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC63Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanEdgeCaseService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL403Service.java
  src/main/resources/application-c100-form.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/helper/BulkValidationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/resources/application-test-C100-form.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-54

#58 Feature/isdb 179
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/integrationTest/resources/request/bulk-scan-c2-transform-input.json
  src/integrationTest/resources/request/bulk-scan-c2-validation-input.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/FormType.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC2Service.java
  src/main/resources/application-c2-form.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC2ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataUtil.java
  src/test/resources/application-test-C2-form.yaml
  src/test/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-58

#52 Added mandatory validation for FMPO (FL401A)
  src/main/java/uk/gov/hmcts/reform/bulkscan/helper/BulkScanValidationHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/FormType.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401AService.java
  src/main/resources/application-fl401a-form.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/config/BulkScanFormValidationConfigManagerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/helper/BulkValidationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/helper/FL401AValidationConfig.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/helper/ValidationConfigFactory.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401AServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataUtil.java
  src/test/resources/application-test-FL401A-form.yaml
  src/test/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-52

#56 ISDB-195 Application insight related changes
  Jenkinsfile_CNP
  README.md
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-56

#60 dummy change to test the deployment issue.
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/controllers/RootController.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-60

#62 Feature/isdb 195
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/controllers/RootController.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-62

#65 ISDB-195 for deployment issue
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/controllers/RootController.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-65
