Repository hmcts/fis-bulk-scan-api, pull requests merged in 2022-08, with the labels that each got.

#104 Added unit and functional tests
  config/pmd/ruleset.xml
  src/functionalTest/resources/requests/bulk-scan-c100-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-validate-input.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/integrationTest/resources/request/bulk-scan-c100-transform-input.json
  src/integrationTest/resources/request/bulk-scan-c100-validate-input.json
  src/integrationTest/resources/response/bulk-scan-c100-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanDependencyValidationService.java
  src/main/resources/application-c100-form.yaml
  src/main/resources/application-c100-transform.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataC100Util.java
  src/test/resources/application-test-C100-form.yaml
  src/test/resources/application-test-C100-transform.yaml
  src/test/resources/request/bulk-scan-c100-transform-input.json
  src/test/resources/request/bulk-scan-c100-validate-input.json
  src/test/resources/response/bulk-scan-c100-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-104

#105 Feature/isdb 317 transformation
  src/functionalTest/resources/requests/bulk-scan-c100-transform-input.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/integrationTest/resources/request/bulk-scan-c100-transform-input.json
  src/integrationTest/resources/response/bulk-scan-c100-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanPrlConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/MiamChildProtectionConcernChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/MiamDomesticViolenceChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/MiamExemptionsChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/MiamOtherGroundsChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/MiamPreviousAttendanceChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/MiamUrgencyReasonChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/group/util/BulkScanGroupValidatorUtil.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ConditionalTransformerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ValidationService.java
  src/main/resources/application-c100-transform.yaml
  src/test/resources/application-test-C100-transform.yaml
  src/test/resources/request/bulk-scan-c100-transform-input.json
  src/test/resources/response/bulk-scan-c100-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-105

#109 Feature/isdb 302 2
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanC100EndpointTest.java
  src/functionalTest/resources/requests/bulk-scan-c100-error-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-page1-error-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-warning-validation-input.json
  src/functionalTest/resources/responses/bulk-scan-a58-relinquished-adoption-validation-error-output.json
  src/functionalTest/resources/responses/bulk-scan-a58-relinquished-adoption-validation-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-error-validation-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-page1-error-validation-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-warning-validation-output.json
  src/integrationTest/resources/request/bulk-scan-c100-transform-input.json
  src/integrationTest/resources/request/bulk-scan-c100-validate-input.json
  src/integrationTest/resources/response/bulk-scan-c100-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ValidationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC51Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanDependencyValidationService.java
  src/main/resources/application-c100-form.yaml
  src/main/resources/application-c100-transform.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataC100Util.java
  src/test/resources/application-test-C100-form.yaml
  src/test/resources/application-test-C100-transform.yaml
  src/test/resources/request/bulk-scan-c100-transform-input.json
  src/test/resources/request/bulk-scan-c100-validate-input.json
  src/test/resources/response/bulk-scan-c100-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-109

#111 Framework changes
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/BulkScanTransformConfigManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58ConditionalTransformerService.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-111

#115 other proceeding changes
  src/functionalTest/resources/requests/bulk-scan-c100-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-validate-input.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/integrationTest/resources/request/bulk-scan-c100-transform-input.json
  src/integrationTest/resources/request/bulk-scan-c100-validate-input.json
  src/integrationTest/resources/response/bulk-scan-c100-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanPrlConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/TypeOfOrderEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ConditionalTransformerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100OtherSectionValidationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ValidationService.java
  src/main/resources/application-c100-form.yaml
  src/main/resources/application-c100-transform.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/resources/application-test-C100-form.yaml
  src/test/resources/application-test-C100-transform.yaml
  src/test/resources/request/bulk-scan-c100-transform-input.json
  src/test/resources/request/bulk-scan-c100-validate-input.json
  src/test/resources/response/bulk-scan-c100-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-115

#112 Bulk scan phase 2-Private Law non Edge Cases-Child Arrangement - Parts 8 & 9
  src/functionalTest/resources/requests/bulk-scan-c100-error-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-validate-input.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/integrationTest/resources/request/bulk-scan-c100-transform-input.json
  src/integrationTest/resources/request/bulk-scan-c100-validate-input.json
  src/integrationTest/resources/response/bulk-scan-c100-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/BulkScanDependencyValidationConfigManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanPrlConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ConditionalTransformerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanDependencyValidationService.java
  src/main/resources/application-c100-dependency.yaml
  src/main/resources/application-c100-form.yaml
  src/main/resources/application-c100-transform.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC51ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/PrlTestConstants.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataC100Util.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestResourceUtil.java
  src/test/resources/application-test-C100-dependency.yaml
  src/test/resources/application-test-C100-form.yaml
  src/test/resources/application-test-C100-transform.yaml
  src/test/resources/request/bulk-scan-c100-transform-input.json
  src/test/resources/request/bulk-scan-c100-validate-input.json
  src/test/resources/response/bulk-scan-c100-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-112

#116 Bulk scan phase 2-Private Law non Edge Cases-Child Arrangement- Part …
  src/functionalTest/resources/requests/bulk-scan-c100-transform-input.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/integrationTest/resources/request/bulk-scan-c100-transform-input.json
  src/integrationTest/resources/response/bulk-scan-c100-transform-output.json
  src/main/resources/application-c100-form.yaml
  src/main/resources/application-c100-transform.yaml
  src/test/resources/application-test-C100-form.yaml
  src/test/resources/application-test-C100-transform.yaml
  src/test/resources/request/bulk-scan-c100-transform-input.json
  src/test/resources/response/bulk-scan-c100-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-116

#117 Changes made to the formType in the controller
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/endpoints/BulkScanEndpoint.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointTest.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-117

#119 ISDB-304 validation and transformation. Also includes further changes…
  src/functionalTest/resources/requests/bulk-scan-c100-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-validate-input.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/integrationTest/resources/request/bulk-scan-c100-transform-input.json
  src/integrationTest/resources/request/bulk-scan-c100-validate-input.json
  src/integrationTest/resources/response/bulk-scan-c100-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanPrlConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanDependencyValidationService.java
  src/main/resources/application-c100-dependency.yaml
  src/main/resources/application-c100-form.yaml
  src/main/resources/application-c100-transform.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/PrlTestConstants.java
  src/test/resources/application-test-C100-dependency.yaml
  src/test/resources/application-test-C100-form.yaml
  src/test/resources/application-test-C100-transform.yaml
  src/test/resources/request/bulk-scan-c100-transform-input.json
  src/test/resources/request/bulk-scan-c100-validate-input.json
  src/test/resources/response/bulk-scan-c100-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-119

#121 A58-Refactor
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58ConditionalTransformerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC51Service.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58PostPlacementServiceTest.java
  src/test/resources/response/bulk-scan-a58-post-placement-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-121

#127 Amending Functional Tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/FunctionalTestBulkScanC100EndpointTest.java
  src/functionalTest/resources/responses/bulk-scan-a58-post-placement-transform-output.json
  src/functionalTest/resources/responses/bulk-scan-a58-relinquished-adoption-transform-output.json
  src/functionalTest/resources/responses/bulk-scan-a60-transform-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-section6b-error-validation-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-section6b-warning-validate-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-validation-output.json
  src/functionalTest/resources/responses/bulk-scan-c51-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-127

#122 Isdb 301
  src/functionalTest/resources/requests/bulk-scan-c100-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-validate-input.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/integrationTest/resources/request/bulk-scan-c100-transform-input.json
  src/integrationTest/resources/request/bulk-scan-c100-validate-input.json
  src/integrationTest/resources/response/bulk-scan-c100-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanPrlConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/PartyEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/SpokenOrWrittenWelshEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ConditionalTransformerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100OtherSectionValidationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/resources/application-c100-dependency.yaml
  src/main/resources/application-c100-form.yaml
  src/main/resources/application-c100-transform.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataC100Util.java
  src/test/resources/application-test-C100-dependency.yaml
  src/test/resources/application-test-C100-form.yaml
  src/test/resources/application-test-C100-transform.yaml
  src/test/resources/request/bulk-scan-c100-section6a-mandatory-field-missing-error-validate-input.json
  src/test/resources/request/bulk-scan-c100-section6a-mandatory-value-error-validate-input.json
  src/test/resources/request/bulk-scan-c100-section6a-validate-input.json
  src/test/resources/request/bulk-scan-c100-section6b-error-validate-input.json
  src/test/resources/request/bulk-scan-c100-section6b-validate-input.json
  src/test/resources/request/bulk-scan-c100-transform-input.json
  src/test/resources/request/bulk-scan-c100-validate-input.json
  src/test/resources/response/bulk-scan-c100-section4-scenario1-transform-output.json
  src/test/resources/response/bulk-scan-c100-section4-scenario2-transform-output.json
  src/test/resources/response/bulk-scan-c100-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-122

#126 Feature/refactoring hearing urgency table
  src/functionalTest/resources/requests/bulk-scan-c100-section6b-error-validate-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-section6b-validate-input.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/integrationTest/resources/response/bulk-scan-c100-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanAdoptionConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58ConditionalTransformerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ConditionalTransformerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/resources/application-a58-form.yaml
  src/main/resources/application-c100-transform.yaml
  src/test/resources/application-test-C100-transform.yaml
  src/test/resources/response/bulk-scan-a58-post-placement-2-transform-output.json
  src/test/resources/response/bulk-scan-a58-post-placement-transform-output.json
  src/test/resources/response/bulk-scan-c100-section4-scenario1-transform-output.json
  src/test/resources/response/bulk-scan-c100-section4-scenario2-transform-output.json
  src/test/resources/response/bulk-scan-c100-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-126

#128 ISDB-296
  src/main/resources/application-c100-dependency.yaml
  src/main/resources/application-c100-form.yaml
  src/test/resources/application-test-C100-dependency.yaml
  src/test/resources/application-test-C100-form.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-128

#131 Add backstage configuration file
  catalog-info.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-131

#130 Feature/isdb 354
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/client/S2sClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/config/RestTemplateConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanA60EndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanC51FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndPointRelinquishedAdoptionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointA58GroupFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointPostPlacementAdoptionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointStepParentAdoptionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/FunctionalTestBulkScanA59EndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/FunctionalTestBulkScanC100EndpointTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/application_e2e.yaml
  src/functionalTest/resources/requests/bulk-scan-c100-section6b-validate-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-warning-validation-input.json
  src/functionalTest/resources/responses/bulk-scan-a58-post-placement-transform-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-error-validation-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-section6b-error-validation-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-section6b-warning-validate-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/functionalTest/resources/responses/bulk-scan-c100-warning-validation-output.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/client/S2sClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanA58GroupIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanA60EndpointIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanC100EndpointIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointIntegrationA59Test.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/integrationTest/resources/application_e2e.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/auth/AuthService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/endpoints/BulkScanEndpoint.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/exception/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/exception/UnauthorizedException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/exceptionhandlers/ApiError.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/exceptionhandlers/ResponseExceptionHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/auth/AuthServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/exceptionhandlers/ResponseExceptionHandlerTest.java
  src/test/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-130
