Repository hmcts/fis-bulk-scan-api, pull requests merged in 2022-07, with the labels that each got.

#78 fix: suppress tomcat cve as no fix version available
  build.gradle
  charts/fis-bulk-scan-api/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/FunctionalTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/demo/smoketests/SmokeFT.java
  src/smokeTest/java/uk/gov/hmcts/reform/demo/smoketests/SmokeTestConfiguration.java
  src/smokeTest/resources/application.properties
  src/smokeTest/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-78

#82 feat: scan documents changes (ISDB-309)
  src/functionalTest/resources/requests/bulk-scan-a58-step-parent-transform-input.json
  src/functionalTest/resources/responses/bulk-scan-a58-step-parent-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/helper/BulkScanTransformHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/ResponseScanDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/ResponseScanDocumentValue.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/ScanDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/ScannedDocuments.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58Service.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58ServiceTest.java
  src/test/resources/response/bulk-scan-a58-step-parent-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-82

#88 fix xor field validation
  src/main/java/uk/gov/hmcts/reform/bulkscan/helper/BulkScanValidationHelper.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-88

#85 feat: validate and transform post placement adoption part 3 (ISDB-284)
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointPostPlacementAdoptionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointStepParentAdoptionTest.java
  src/functionalTest/resources/requests/bulk-scan-a58-post-placement-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-a58-post-placement-validation-errors-input.json
  src/functionalTest/resources/requests/bulk-scan-a58-post-placement-validation-success-input.json
  src/functionalTest/resources/requests/bulk-scan-a58-relinquished-adoption-validation-error-input.json
  src/functionalTest/resources/requests/bulk-scan-a58-relinquished-adoption-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-a58-step-parent-validation-input.json
  src/functionalTest/resources/responses/bulk-scan-a58-post-placement-transform-output.json
  src/functionalTest/resources/responses/bulk-scan-a58-post-placement-validation-errors-output.json
  src/functionalTest/resources/responses/bulk-scan-a58-post-placement-validation-success-output.json
  src/functionalTest/resources/responses/bulk-scan-a58-step-parent-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/MaritalStatusEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/RelationToChildEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58Service.java
  src/main/resources/application-a58-form.yaml
  src/main/resources/application-a58-transform.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58PostPlacementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58ServiceRelinquishedAdoptionTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58StepParentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataUtil.java
  src/test/resources/application-test-A58-form.yaml
  src/test/resources/application-test-a58-transform.yaml
  src/test/resources/request/bulk-scan-a58-post-placement-error-field-input.json
  src/test/resources/request/bulk-scan-a58-post-placement-input.json
  src/test/resources/request/bulk-scan-a58-post-placement-transform-input.json
  src/test/resources/request/bulk-scan-a58-post-placement-unknown-field-input.json
  src/test/resources/response/bulk-scan-a58-post-placement-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-85

#84 ISDB-268
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanC51FunctionalTest.java
  src/functionalTest/resources/requests/bulk-scan-c51-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-c51-validation-error-input.json
  src/functionalTest/resources/requests/bulk-scan-c51-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-c51-xor-validation-error-input.json
  src/functionalTest/resources/responses/bulk-scan-c51-transform-output.json
  src/functionalTest/resources/responses/bulk-scan-c51-validation-error-output.json
  src/functionalTest/resources/responses/bulk-scan-c51-validation-output.json
  src/functionalTest/resources/responses/bulk-scan-c51-xor-validation-error-output.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointIntegrationTest.java
  src/integrationTest/resources/request/bulk-scan-c51-transform-input.json
  src/integrationTest/resources/request/bulk-scan-c51-validation-input.json
  src/integrationTest/resources/response/bulk-scan-c51-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC51Service.java
  src/main/resources/application-c51-form.yaml
  src/main/resources/application-c51-transform.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC51ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataUtil.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestResourceUtil.java
  src/test/resources/application-test-C51-form.yaml
  src/test/resources/application-test-C51-transform.yaml
  src/test/resources/application.yaml
  src/test/resources/response/bulk-scan-c51-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-84

#92 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-92

#89 feat: validate and transform post placement adoption part 4 & part 5 …
  build.gradle
  charts/fis-bulk-scan-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanA59EndpointTest.java
  src/functionalTest/resources/requests/bulk-scan-a58-post-placement-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-a58-post-placement-validation-errors-input.json
  src/functionalTest/resources/requests/bulk-scan-a58-post-placement-validation-success-input.json
  src/functionalTest/resources/responses/bulk-scan-a58-post-placement-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/utils/BulkScanValidationUtil.java
  src/main/resources/application-a58-form.yaml
  src/main/resources/application-a58-transform.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA58PostPlacementServiceTest.java
  src/test/resources/application-test-A58-form.yaml
  src/test/resources/application-test-a58-transform.yaml
  src/test/resources/request/bulk-scan-a58-post-placement-error-field-input.json
  src/test/resources/request/bulk-scan-a58-post-placement-input.json
  src/test/resources/request/bulk-scan-a58-post-placement-transform-input.json
  src/test/resources/request/bulk-scan-a58-post-placement-unknown-field-input.json
  src/test/resources/response/bulk-scan-a58-post-placement-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-89

#96 Feature/isdb 293
  src/functionalTest/resources/requests/bulk-scan-c100-transform-input.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ValidationService.java
  src/main/resources/application-c100-form.yaml
  src/main/resources/application-c100-transform.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ValidationServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-96

#101 ISDB-294-295 C100 Part 3a-3e
  config/pmd/ruleset.xml
  src/functionalTest/resources/requests/bulk-scan-c100-validate-input.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/BulkScanDependencyValidationConfigManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/BulkScanFormValidationConfigManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/BulkScanValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanDependencyValidationService.java
  src/main/resources/application-c100-dependency.yaml
  src/main/resources/application-c100-form.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataC100Util.java
  src/test/resources/application-test-C100-dependency.yaml
  src/test/resources/application-test-C100-form.yaml
  src/test/resources/application.yaml
  src/test/resources/request/bulk-scan-c100-validate-input.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-101

#97 Isdb 297
  src/functionalTest/resources/requests/bulk-scan-c100-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-validate-input.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/integrationTest/resources/request/bulk-scan-c100-transform-input.json
  src/integrationTest/resources/request/bulk-scan-c100-validate-input.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/PermissionRequiredEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ValidationService.java
  src/main/resources/application-c100-form.yaml
  src/main/resources/application-c100-transform.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/resources/application-test-C100-form.yaml
  src/test/resources/application-test-C100-transform.yaml
  src/test/resources/request/bulk-scan-c100-transform-input.json
  src/test/resources/request/bulk-scan-c100-validate-input.json
  src/test/resources/response/bulk-scan-c100-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-97
