Repository hmcts/fis-bulk-scan-api, pull requests merged in 2022-10, with the labels that each got.

#153 Completed unit tests
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointFL401AFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/util/Constant.java
  src/functionalTest/resources/requests/bulk-scan-fl401a-validate-error-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401a-validate-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401a-validate-warning-input.json
  src/functionalTest/resources/responses/bulk-scan-fl401a-validate-error-output.json
  src/functionalTest/resources/responses/bulk-scan-fl401a-validate-output.json
  src/functionalTest/resources/responses/bulk-scan-fl401a-validate-warning-output.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanFL401AEndpointIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/integrationTest/resources/request/bulk-scan-fl401a-validate-input.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401AService.java
  src/main/resources/application-fl401a-form.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401AServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/PrlTestConstants.java
  src/test/resources/application-test-FL401A-form.yaml
  src/test/resources/application.yaml
  src/test/resources/request/bulk-scan-fl401a-validate-error-input.json
  src/test/resources/request/bulk-scan-fl401a-validate-input.json
  src/test/resources/request/bulk-scan-fl401a-validate-warning-input.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-153

#158 ISDB-418 Transform
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanEndpointFL401AFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/util/Constant.java
  src/functionalTest/resources/requests/bulk-scan-fl401a-transform-input.json
  src/functionalTest/resources/responses/bulk-scan-fl401a-transform-output.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanFL401AEndpointIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/Constants.java
  src/integrationTest/resources/request/bulk-scan-fl401a-transform-input.json
  src/integrationTest/resources/response/bulk-scan-fl401a-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401AService.java
  src/main/resources/application-fl401a-transform.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401AServiceTest.java
  src/test/resources/application-test-FL401A-transform.yaml
  src/test/resources/application.yaml
  src/test/resources/request/bulk-scan-fl401a-transform-input.json
  src/test/resources/response/bulk-scan-fl401a-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-158

#160 feature/ISDB-419-1
  src/functionalTest/resources/responses/bulk-scan-c63-transform-output.json
  src/integrationTest/resources/response/bulk-scan-c63-transform-output.json
  src/main/resources/application-c63-transform.yaml
  src/test/resources/application-test-C63-transform.yaml
  src/test/resources/response/bulk-scan-c63-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-160

#157 feature/ISDB-420
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanA1EndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/util/EdgeCaseConstants.java
  src/functionalTest/resources/requests/bulk-scan-a1-transform-input.json
  src/functionalTest/resources/responses/bulk-scan-a1-transform-output.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanA1EndpointIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/utils/EdgeCaseConstants.java
  src/integrationTest/resources/request/bulk-scan-a1-transform-input.json
  src/integrationTest/resources/response/bulk-scan-a1-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA1Service.java
  src/main/resources/application-a1-transform.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanA1ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/EdgeCaseConstants.java
  src/test/resources/application-test-A1-transform.yaml
  src/test/resources/application.yaml
  src/test/resources/request/bulk-scan-a1-transform-input.json
  src/test/resources/response/bulk-scan-a1-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-157

#165 a59 functional json update
  src/functionalTest/resources/requests/bulk-scan-a59-validation-input.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-165

#166 updated logs
  src/main/java/uk/gov/hmcts/reform/bulkscan/endpoints/BulkScanEndpoint.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/exception/InvalidResourceException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/utils/FileUtil.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/exception/InvalidResourceExceptionTest.java
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-166

#167 adding metadata json files to new folder ExcelaPayloadToBulkScan
  ExcelaPayloadToBulkScan/adoption-a58-group-validation-success-data.json
  ExcelaPayloadToBulkScan/adoption-a58-post-placement-validation-success-data.json
  ExcelaPayloadToBulkScan/adoption-a58-relinquished-adoption-validation-data.json
  ExcelaPayloadToBulkScan/adoption-a58-step-parent-validation-data.json
  ExcelaPayloadToBulkScan/adoption-a60-validation-data.json
  ExcelaPayloadToBulkScan/adoption-c51-validation-data.json
  ExcelaPayloadToBulkScan/private-a1-validation-data.json
  ExcelaPayloadToBulkScan/private-a59-validation-data.json
  ExcelaPayloadToBulkScan/private-c100-section6b-validate-data.json
  ExcelaPayloadToBulkScan/private-c100-validate-data.json
  ExcelaPayloadToBulkScan/private-c63-validation-data.json
  ExcelaPayloadToBulkScan/private-fgm001-validation-data.json
  ExcelaPayloadToBulkScan/private-fl401-validation-data.json
  ExcelaPayloadToBulkScan/private-fl401a-validate-data.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-167
