Repository hmcts/fis-bulk-scan-api, pull requests merged in 2022-09, with the labels that each got.

#137 section 8 implementation
  src/functionalTest/resources/requests/bulk-scan-fl401-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-input.json
  src/functionalTest/resources/responses/bulk-scan-fl401-transform-output.json
  src/functionalTest/resources/responses/bulk-scan-fl401-validation-error-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanFl401Constants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ConditionalTransformerService.java
  src/main/resources/application-fl401-dependency.yaml
  src/main/resources/application-fl401-form.yaml
  src/main/resources/application-fl401-transform.yaml
  src/test/resources/application-test-FL401-form.yaml
  src/test/resources/application-test-FL401-transform.yaml
  src/test/resources/request/bulk-scan-fl401-transform-input.json
  src/test/resources/response/bulk-scan-fl401-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-137

#139 renamed kv
  Jenkinsfile_CNP
  build.gradle
  charts/fis-bulk-scan-api/Chart.yaml
  charts/fis-bulk-scan-api/values.yaml
  infrastructure/main.tf
Labels: ns:fis, prd:fis, add-or-update, rel:fis-bulk-scan-api-pr-139

#136 Feature/isdb 363
  src/functionalTest/resources/application_e2e.yaml
  src/functionalTest/resources/requests/bulk-scan-fl401-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-error-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-warning-input.json
  src/functionalTest/resources/responses/bulk-scan-fl401-transform-output.json
  src/functionalTest/resources/responses/bulk-scan-fl401-validation-error-output.json
  src/functionalTest/resources/responses/bulk-scan-fl401-validation-output.json
  src/functionalTest/resources/responses/bulk-scan-fl401-validation-warning-output.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/controllers/BulkScanFL401EndpointIntegrationTest.java
  src/integrationTest/resources/application_e2e.yaml
  src/integrationTest/resources/request/bulk-scan-fl401-transform-input.json
  src/integrationTest/resources/request/bulk-scan-fl401-validation-input.json
  src/integrationTest/resources/response/bulk-scan-fl401-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanFl401Constants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/enums/ApplicantRespondentRelationshipEnum.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ConditionalTransformerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ValidationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/utils/DateUtil.java
  src/main/resources/application-fl401-dependency.yaml
  src/main/resources/application-fl401-form.yaml
  src/main/resources/application-fl401-transform.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ValidationServiceTest.java
  src/test/resources/application-test-FL401-dependency.yaml
  src/test/resources/application-test-FL401-form.yaml
  src/test/resources/application-test-FL401-transform.yaml
  src/test/resources/request/bulk-scan-fl401-transform-input.json
  src/test/resources/request/bulk-scan-fl401-validate-error-input.json
  src/test/resources/request/bulk-scan-fl401-validate-input.json
  src/test/resources/request/bulk-scan-fl401-validate-warning-input.json
  src/test/resources/response/bulk-scan-fl401-transform-output.json
  src/test/resources/response/bulk-scan-fl401-validate-error-output.json
  src/test/resources/response/bulk-scan-fl401-validate-warning-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-136

#138 ISDB-360
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-error-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-warning-input.json
  src/functionalTest/resources/responses/bulk-scan-fl401-validation-error-output.json
  src/functionalTest/resources/responses/bulk-scan-fl401-validation-warning-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/config/BulkScanDependencyValidationConfigManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanFl401Constants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/postcode/AddressDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/postcode/PostCodeResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/model/postcode/PostCodeResult.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ConditionalTransformerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401Service.java
  src/main/resources/application-fl401-dependency.yaml
  src/main/resources/application-fl401-form.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/DateUtilTest.java
  src/test/resources/application-test-FL401-dependency.yaml
  src/test/resources/application-test-FL401-form.yaml
  src/test/resources/request/bulk-scan-fl401-validate-input.json
  src/test/resources/request/bulk-scan-fl401-validate-warning-input.json
  src/test/resources/response/bulk-scan-fl401-validate-error-output.json
  src/test/resources/response/bulk-scan-fl401-validate-warning-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-138

#142 ISDB-361
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanFl401Constants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ConditionalTransformerService.java
  src/main/resources/application-fl401-transform.yaml
  src/test/resources/application-test-FL401-transform.yaml
  src/test/resources/request/bulk-scan-fl401-transform-input.json
  src/test/resources/response/bulk-scan-fl401-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-142

#145 ISDB-376
  src/functionalTest/resources/responses/bulk-scan-a58-post-placement-transform-output.json
  src/integrationTest/resources/response/bulk-scan-a58-post-placement-transform-output.json
  src/main/resources/application-a58-transform.yaml
  src/test/resources/application-test-a58-transform.yaml
  src/test/resources/response/bulk-scan-a58-post-placement-2-transform-output.json
  src/test/resources/response/bulk-scan-a58-post-placement-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-145

#146 Feature/isdb 364
  src/functionalTest/resources/requests/bulk-scan-a59-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-error-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-warning-input.json
  src/functionalTest/resources/responses/bulk-scan-fl401-transform-output.json
  src/integrationTest/resources/request/bulk-scan-fl401-transform-input.json
  src/integrationTest/resources/request/bulk-scan-fl401-validation-input.json
  src/integrationTest/resources/response/bulk-scan-fl401-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanFl401Constants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ConditionalTransformerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401Service.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ValidationService.java
  src/main/resources/application-fl401-dependency.yaml
  src/main/resources/application-fl401-form.yaml
  src/main/resources/application-fl401-transform.yaml
  src/test/resources/application-test-FL401-dependency.yaml
  src/test/resources/application-test-FL401-form.yaml
  src/test/resources/application-test-FL401-transform.yaml
  src/test/resources/request/bulk-scan-fl401-transform-input.json
  src/test/resources/request/bulk-scan-fl401-validate-error-input.json
  src/test/resources/request/bulk-scan-fl401-validate-input.json
  src/test/resources/request/bulk-scan-fl401-validate-warning-input.json
  src/test/resources/response/bulk-scan-fl401-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-146

#152 feature/ISDB-375
  src/functionalTest/resources/requests/bulk-scan-fl401-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-error-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-warning-input.json
  src/functionalTest/resources/responses/bulk-scan-fl401-transform-output.json
  src/integrationTest/resources/request/bulk-scan-fl401-transform-input.json
  src/integrationTest/resources/request/bulk-scan-fl401-validation-input.json
  src/integrationTest/resources/response/bulk-scan-fl401-transform-output.json
  src/main/resources/application-fl401-form.yaml
  src/main/resources/application-fl401-transform.yaml
  src/test/resources/application-test-FL401-form.yaml
  src/test/resources/application-test-FL401-transform.yaml
  src/test/resources/request/bulk-scan-fl401-transform-input.json
  src/test/resources/request/bulk-scan-fl401-validate-error-input.json
  src/test/resources/request/bulk-scan-fl401-validate-input.json
  src/test/resources/request/bulk-scan-fl401-validate-warning-input.json
  src/test/resources/response/bulk-scan-fl401-transform-output.json
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-152
