Repository hmcts/fis-bulk-scan-api, pull requests merged in 2025-03, with the labels that each got.

#219 FPET-1115-removed unused secrets
  Jenkinsfile_CNP
  charts/fis-bulk-scan-api/Chart.yaml
  charts/fis-bulk-scan-api/values.yaml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-219

#248 Pipe changes added
  ExcelaPayloadToBulkScan/private-c100-section6b-validate-data.json
  ExcelaPayloadToBulkScan/private-c100-validate-data.json
  ExcelaPayloadToBulkScan/private-fl401-validation-data.json
  src/functionalTest/resources/requests/bulk-scan-c100-error-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-section6b-error-validate-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-section6b-validate-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-validate-input.json
  src/functionalTest/resources/requests/bulk-scan-c100-warning-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-transform-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-error-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-input.json
  src/functionalTest/resources/requests/bulk-scan-fl401-validation-warning-input.json
  src/functionalTest/resources/responses/bulk-scan-c100-transform-output.json
  src/integrationTest/resources/request/bulk-scan-c100-transform-input.json
  src/integrationTest/resources/request/bulk-scan-c100-validate-input.json
  src/integrationTest/resources/request/bulk-scan-fl401-transform-input.json
  src/integrationTest/resources/request/bulk-scan-fl401-validation-input.json
  src/integrationTest/resources/response/bulk-scan-c100-transform-output.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/constants/BulkScanPrlConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/helper/BulkScanValidationHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ConditionalTransformerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ValidationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanDependencyValidationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanFL401ConditionalTransformerService.java
  src/main/resources/application-c100-dependency.yaml
  src/main/resources/application-c100-form.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/services/BulkScanC100ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/PrlTestConstants.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/utils/TestDataC100Util.java
  src/test/resources/application-test-C100-dependency.yaml
  src/test/resources/application-test-C100-form.yaml
  src/test/resources/request/bulk-scan-c100-page1-transform-input.json
  src/test/resources/request/bulk-scan-c100-section4-secenario-1-transform-input.json
  src/test/resources/request/bulk-scan-c100-section4-secenario-2-transform-input.json
  src/test/resources/request/bulk-scan-c100-section6a-mandatory-field-missing-error-validate-input.json
  src/test/resources/request/bulk-scan-c100-section6a-mandatory-value-error-validate-input.json
  src/test/resources/request/bulk-scan-c100-section6a-validate-input.json
  src/test/resources/request/bulk-scan-c100-section6b-error-validate-input.json
  src/test/resources/request/bulk-scan-c100-section6b-validate-input.json
  src/test/resources/request/bulk-scan-c100-transform-input.json
  src/test/resources/request/bulk-scan-c100-validate-input.json
  src/test/resources/request/bulk-scan-fl401-transform-input.json
  src/test/resources/request/bulk-scan-fl401-validate-error-input.json
  src/test/resources/request/bulk-scan-fl401-validate-input.json
  src/test/resources/request/bulk-scan-fl401-validate-warning-input.json
  src/test/resources/response/bulk-scan-c100-section4-scenario1-transform-output.json
  src/test/resources/response/bulk-scan-c100-section4-scenario2-transform-output.json
  src/test/resources/response/bulk-scan-c100-transform-output.json
Labels: ns:fis, prd:fis, enable_keep_helm, rel:fis-bulk-scan-api-pr-248

#252 FPET-1296 CVE fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:fis, prd:fis, rel:fis-bulk-scan-api-pr-252
